{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", cursive;
}

body {
    height: 100vh;
    background: black;
    background-position: center;
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    padding: 20px;
}

.header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .logo {
    color: black;
    font-size: 2.1rem;
    font-weight: 600;
}

.navbar .menu-links {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: flex-start;
    padding-top: 0;
    margin-top: 30px;
    margin-left: 900px;
    font-size: 20px;
    font-palette: light;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
    font-size: 24px;

}

.navbar a:hover {
    color: maroon;
}

.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.hero-section .content {
    color: white;
    max-width: 1200px;
    width: 100%;
    margin: -70px auto 0 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
}

.hero_section .content h1 {
    font-size: 3rem;
    max-width: 600px;
    align-self: flex-start;
}

.hero_section .content p {
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
    font-size: 1rem;
    align-self: flex-start;
}
.hero-section .content .buttons {
    align-self: flex-start;
    margin-left: 650px;
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    gap: -5px;
}

.buttons button {
    background: #fff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    margin-top: 38px;
    padding: 20px 40px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.hero_section .content button_two {
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.hero_section .content button:hover {
    color: #fff;
    background-color: maroon;
}

.hero_section .content button-two:hover {
    color: #fff;
    background: maroon;
    display: none;
}

#menu-btn {
    color: #fff;
    cursor: pointer;
    display: none;
    margin-left: auto;
}

#close-menu-btn {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    z-index: 1000;
}

@media screen and (max-width: 8px) {
    header {
        padding: 10px 20px;
    }
    .content {
        margin: auto;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }

    .buttons {
        align-self: center;
    }
    header.show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    #close-menu-btn, #menu-btn {
        display: block;
    }
    .navbar .menu-links {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: #fff;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }

    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }

    .navbar a {
        color: black;
    }

    .hero-section .content {
        text-align: center;
    }

    .hero-section .content :is(h1, p) {
        max-width: 100%;
    }

    .hero-section .content h1 {
        font-size: 2.3rem;
        line-height: 60px;
    }

    .hero-section .content button {
        padding: 9px 18px;
    }

    .hero-section .content button_two {
        padding: 9px 18px;
    }

}