{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Readex-Pro, sans-serif;

}

body {
    display:  flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #12181B linear-gradient(to right, #E6E6E6, #12181B);
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 360px;
    background: transparent;
    border: 2px solid rgb(244, 244, 244);
    backdrop-filter: blur(200px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    padding: 20px 20px;
    border-radius: 40px; /*box in the middle*/
    color: white; /*i guess everything inside box like letter*/
    box-shadow: 10px 10px 20px black,
    -10px 10px 20px black;
}

.wrapper h1 { /*the login part*/
    font-size: 36px;
    text-align: center;
    color: black;
}

.wrapper .input-box {
    position: relative;
    width: 75%;
    height: 10px;
    margin: 70px 15px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white; /*letters inside input*/
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black; /*color of letter in input box and symbols*/
}

.input-box i {
    position: absolute;
    right: 340px;
    top: 130%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot { /*remember me part*/
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    margin-left: 20px;
}

.remember-forgot label input {
    accent-color: #fff; /*box near remember forgot check box*/
    margin-right: 3px;
}

.remember-forgot a {
    color: white; /*forgot password color*/
    text-decoration: none;
    margin-right: 40px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 80%;
    height: 45px;
    margin-left: 44px;
    display: block;
    background: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

/*.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}*/

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    z-index: 1000;
}